/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Import banner style sheet */
@import url("components/banner.css");

/* Import footer style sheet */
@import url("components/footer.css");

/* Import cards style sheet */
@import url("components/cards.css");

/* Utilities */
html, body {
  margin: 0;
  font-family: Open Sans;
  color: white;
  background-color: #F7F8F7;
  height: 100%
}

h1 {
  font-family: Poppins;
  padding: 0;
  margin: 0;
}

h2 {
font-family: Poppins;
color: black;
text-align: center;
padding: 0;
margin: 0;
margin-top: 25px;
}

h3, h4, h5 {
  font-family: Poppins;
  font-size: 16px;
  width: 225px;
}

p {
  padding: 0;
  margin: 0;
  opacity: 0.7;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
