.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 440px;
  width: 100%
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  height: 280px;
  width: 240px;
  margin: 0 3%
}

.card-img {
  height: 100px
}

.card p {
  opacity: 0.5;
  width: 85%;
  text-align: center
}

h2 {
  margin-bottom: 0
}

@media (max-width: 1200px) {
  .container-cards {
    flex-direction: column
  }
  .card {
    margin: 3% 0
  }
}
